body {
    background-color: bisque;
    margin: 0;
    text-align: center;
    color: brown;
}

.home {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.link  {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
}

.navigation {
    background-color: bisque;
    width: 100vw;
	display: none;
	position: sticky;
	top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    padding: 5px 5px 5px 5px;
    width: 50px;
    height: 50px;
}

.Mickey, .Lilly {
    scroll-margin-top: 70px;
    font-size: 20px;
}

.foto {
    width: 200px;
}

.profile, .skills, .contact {
    height: 1000px;
}

a {
    color: brown;
    font-weight: bold;
}
